[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
cloudinary = "*"
django-crispy-forms = "*"
django-tinymce = "*"
django = "*"
django-registration = "*"
bootstrap4 = "*"
psycopg2 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
